<div class="cats-bar" id="catsBar">
  <a class="cat-pill {% if collection.handle == 'all' %}active{% endif %}" href="/collections/all">All Shoes</a>

  <a class="cat-pill {% if collection.handle == 'running' %}active{% endif %}" href="/collections/running">
    Running
  </a>

  <a class="cat-pill {% if collection.handle == 'training' %}active{% endif %}" href="/collections/training">
    Training
  </a>

  <a class="cat-pill {% if collection.handle == 'basketball' %}active{% endif %}" href="/collections/basketball">
    Basketball
  </a>

  <a class="cat-pill {% if collection.handle == 'lifestyle' %}active{% endif %}" href="/collections/lifestyle">
    Lifestyle
  </a>

  <a class="cat-pill {% if collection.handle == 'kids' %}active{% endif %}" href="/collections/kids">
    Kids
  </a>

  <a class="cat-pill {% if collection.handle == 'football' %}active{% endif %}" href="/collections/football">
    Football
  </a>

  <a class="cat-pill {% if collection.handle == 'sandals' %}active{% endif %}" href="/collections/sandals">
    Sandals
  </a>
</div>

{% schema %}
{
  "name": "Category Bar",
  "settings": [],
  "presets": [
    {
      "name": "Category Bar"
    }
  ]
}
{% endschema %}